.board{
    margin: auto;
    display: grid;   
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5rem;
    gap: 1rem;   
    align-items: center;
}

.board div{
    background-color: aqua;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282c34;
}

.winnerMsg{
    margin: 2rem;
}